<!-- Titlebar
================================================== -->
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Agencies</h2>
                <span>An award winning agencies</span>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>Agencies</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


<!-- Content
================================================== -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Agency -->
            <div class="agent agent-page agency">
                <a [routerLink]="'/agency-page'" class="agent-avatar">
                    <img src="assets/images/agency-01.jpg" alt="">
                </a>
                <div class="agent-content">
                    <div class="agent-name">
                        <h4><a [routerLink]="'/agency-page'">King Properties</a></h4>
                        <span><i class="fa fa-map-marker"></i> New York</span>
                    </div>
                    <p>Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</p>
                    <ul class="agent-contact-details">
                        <li><i class="sl sl-icon-call-in"></i>(123) 123-456</li>
                        <li><i class="fa fa-envelope-o "></i><a href="#"><span class="__cf_email__" data-cfemail="bcdfd3d2c8dddfc8fcd9c4ddd1ccd0d992dfd3d1">[email&#160;protected]</span></a></li>
                    </ul>
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

            <!-- Agency -->
            <div class="agent agent-page agency">
                <a [routerLink]="'/agency-page'" class="agent-avatar">
                    <img src="assets/images/agency-02.jpg" alt="">
                </a>

                <div class="agent-content">
                    <div class="agent-name">
                        <h4><a [routerLink]="'/agency-page'">Hexagon Agency</a></h4>
                        <span><i class="fa fa-map-marker"></i> Chicago</span>
                    </div>
                    <p>Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</p>
                    <ul class="agent-contact-details">
                        <li><i class="sl sl-icon-call-in"></i>(123) 123-456</li>
                        <li><i class="fa fa-envelope-o "></i><a href="#"><span class="__cf_email__" data-cfemail="55363a3b2134362115302d34382539307b363a38">[email&#160;protected]</span></a></li>
                    </ul>
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Agency -->
            <div class="agent agent-page agency">
                <a [routerLink]="'/agency-page'" class="agent-avatar">
                    <img src="assets/images/agency-03.jpg" alt="">
                </a>

                <div class="agent-content">
                    <div class="agent-name">
                        <h4><a [routerLink]="'/agency-page'">Taliscon Agency</a></h4>
                        <span><i class="fa fa-map-marker"></i> Las Vegas</span>
                    </div>
                    <p>Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper</p>
                    <ul class="agent-contact-details">
                        <li><i class="sl sl-icon-call-in"></i>(123) 123-456</li>
                        <li><i class="fa fa-envelope-o "></i><a href="#"><span class="__cf_email__" data-cfemail="f1929e9f85909285b19489909c819d94df929e9c">[email&#160;protected]</span></a></li>
                    </ul>
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="clearfix"></div>
            <!-- Pagination -->
            <div class="pagination-container margin-top-20">
                <nav class="pagination">
                    <ul>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </nav>
                <nav class="pagination-next-prev">
                    <ul>
                        <li><a href="#" class="prev">Previous</a></li>
                        <li><a href="#" class="next">Next</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Pagination / End -->
        </div>
    </div>
</div>