<!-- Titlebar
================================================== -->
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{header}}</h2>
                <span>{{headerDescription}}</span>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">{{parentNav}}</a></li>
                        <li>{{childNav}}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>