<!-- Wrapper -->
<div id="wrapper">

  <!-- Compare Properties Widget
  ================================================== -->
  <app-compare-property></app-compare-property>
  <!-- Compare Properties Widget / End -->


  <!-- Header Container  ================================================== -->
  <header-app></header-app>

  <div class="clearfix"></div>
  <!-- Header Container / End -->

  <router-outlet></router-outlet>


  <!-- Footer  ================================================== -->

  <footer-app>Footer</footer-app>

  <!-- Footer / End -->
  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->